* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  color: #0f172a;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo img {
  height: 36px;
} 

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #334155;
}

nav img {
  width: 14px;
  margin-left: 6px;
}

/* BUTTONS */
.btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.primary {
  background: #22c55e;
  color: white;
}

.outline {
  background: transparent;
  border: 1px solid #cbd5e1;
}

.nav-btn {
  background: #22c55e;
  color: white;
}

/* HERO */
.hero {
  background:
    linear-gradient(rgba(15,23,42,0.85), rgba(2,6,23,0.9)),
    url("images/hero-bg.png");
  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 42px;
  margin: 20px 0;
}

.hero h1 span {
  color: #22c55e;
}

.hero p {
  max-width: 600px;
  margin: auto;
  opacity: 0.9;
}

.hero-buttons {
  margin-top: 30px;
}

.badge {
  background: #1e293b;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

/* PROBLEMS */
.problems {
  padding: 80px 40px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #f8fafc;
  padding: 25px;
  border-radius: 12px;
}

.card img {
  width: 40px;
  margin-bottom: 15px;
}